<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="username" value="insert your username" />
    <add key="password" value="insert your username" />
    <add key="reponame" value="and your repo" />
  </appSettings>
</configuration>
